{% extends '::base.html.twig' %}

    {% block title %}{{ parent()~status | trans }}{% endblock %}


    {% block content %}
        <div class="page-title-wrapper">
            <div class="page-title-bg"
                 style="background-image: url('{{ asset('assets/images/services-bg.jpg') }}');"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-title-inner">
                            <div class="page-title-content">
                                <h2>{{ status | trans }}</h2>

                                {% set subtitle = status~'_subtitle' %}

                                {% if type is defined %}
                                    {% set subtitle = type~'_'~status~'_subtitle' %}
                                {% endif %}

                                <p>{{ subtitle | trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.page-titel-wrapper -->

        <section class="services-listing page-content">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="sidebar">
                            <div class="services-widget widget">
                                <h3 class="widget-title">Категории объектов</h3>
                                <ul>
                                    <li><a href="{{ path('object.show_by_type', {
                                            'status': app.request.get('status'),
                                            'type': 'house'
                                        }) }}">Дома/коттеджи</a></li>
                                    <li><a href="{{ path('object.show_by_type', {
                                            'status': app.request.get('status'),
                                            'type': 'plot'
                                        }) }}">Участки</a></li>
                                </ul>
                            </div> <!-- /.widget -->
                            <div class="contact-widget widget">
                                <h3 class="widget-title">Contact Info</h3>
                                <div class="contact-info">
                                    <p><i class="fa fa-location-arrow"></i>2561 Round Table Drive Cincinnati, OH 45202
                                    </p>
                                    <p><i class="fa fa-phone"></i><a href="#">513-784-5268</a></p>
                                    <p><i class="fa fa-envelope"></i><a href="#">support@esmeth.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.col-md-3  -->

                    <div class="col-md-9">
                        <div class="row">
                            {% if objects is not empty %}
                                {% for object in objects %}

                                    {% if object.files is not empty %}
                                        {% set firstImage = object.files|first %}
                                    {% else %}
                                        {% set firstImage = null %}
                                    {% endif %}

                                    {% set type = 'object.by_type.'~ object.getTypeById(object.type) %}
                                    <div class="col-sm-6">
                                        <article class="image-service wow fadeIn" data-wow-duration="0.7s"
                                                 data-wow-delay="0.2s">

                                            {% if firstImage is not null %}
                                                <div class="thumb" style="max-height: 258px;">
                                                    <a href="{{ path('object.single', {
                                                        'status': status,
                                                        'object': object.id
                                                    }) }}" target="_blank">
                                                        <img width="700" height="450"
                                                             src="{{ asset('upload/objects/'~firstImage.name) }}"
                                                             alt="">
                                                        <span class="overlay">
                                                    <i class="icon-eye"></i>
                                                </span>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="service-content">
                                                <h3>
                                                    <a href="{{ path('object.single', {
                                                        'status': status,
                                                        'object': object.id
                                                    }) }}" target="_blank">{{ object.title }}</a>
                                                </h3>
                                                <small>Тип: {{ type | trans }}</small>
                                                <small class="pull-right">
                                                    Статус: {{ object.getSaleStatusById(object.saleStatus) | trans }}</small>

                                                {% if object.objectDescription | length > 120 %}
                                                    {% set description = object.objectDescription | slice(0, 120) ~ '...' %}
                                                {% else %}
                                                    {% set description = object.objectDescription %}
                                                {% endif %}
                                                <p>{{ description }}</p>
                                            </div>
                                        </article>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div> <!-- /.row -->
                    </div> <!-- /.col-md-9 -->

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </section> <!-- /.service-listing -->
    {% endblock %}