{% extends '::base.html.twig' %}

{% block custom_css %}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 text-center">dsds</div>
            <div class="col-xs-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur nunc eu lectus rhoncus
                    imperdiet. Integer commodo ante et odio placerat faucibus. Cras eget orci tincidunt, facilisis sem
                    quis, tempor sem. In ullamcorper at lectus tincidunt vehicula. Vivamus vitae diam vulputate,
                    volutpat metus lobortis, laoreet massa. Aliquam nec odio eu nibh feugiat suscipit non eget mi.
                    Pellentesque non tempus lectus, ac lacinia nibh. Cras vitae tincidunt ex. Pellentesque felis orci,
                    efficitur in felis quis, vulputate blandit ex. Duis et blandit lectus. Aliquam finibus velit nec
                    nibh finibus porttitor.

                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In
                    congue erat vitae diam malesuada sagittis. Fusce in felis fermentum, vehicula purus ut, dignissim
                    elit. Maecenas cursus felis eget risus posuere ullamcorper. Aliquam consectetur, metus quis vehicula
                    sodales, velit urna pharetra diam, dignissim viverra diam nunc eget massa. Fusce eu ex eget elit
                    laoreet sagittis. Curabitur consequat molestie dui et euismod. Phasellus in dui ultricies, dictum
                    lorem ut, ornare risus. Nulla tempus imperdiet mauris vitae gravida.

                    Integer bibendum lectus vel consectetur scelerisque. Fusce ornare enim elementum metus elementum,
                    eget cursus mauris pulvinar. Phasellus eget libero faucibus, posuere ante vel, accumsan lectus.
                    Aliquam et neque et urna semper molestie. Nam sodales ligula ipsum, fringilla porttitor elit porta
                    nec. Maecenas ut sodales leo, et malesuada ligula. Vivamus lorem ex, pellentesque et gravida
                    finibus, vulputate id purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu
                    augue sit amet tortor varius auctor.

                    In hac habitasse platea dictumst. Aliquam vel erat magna. In hac habitasse platea dictumst. Vivamus
                    fringilla eget libero a sagittis. Aliquam et finibus quam, id laoreet purus. Cras feugiat eleifend
                    laoreet. Fusce sed leo quis lorem mollis feugiat suscipit nec orci. Sed semper eros lorem, ut porta
                    felis iaculis faucibus.

                    Nullam sem tortor, tempor sed posuere at, maximus vel diam. Nam eget luctus lacus, aliquet tempus
                    diam. Suspendisse molestie feugiat enim non fringilla. Duis molestie vulputate pretium. Sed commodo
                    nec odio a finibus. Phasellus vulputate dui ultricies mi pretium semper. Morbi in odio augue.
                    Pellentesque metus velit, mattis sed feugiat eu, aliquet vel massa. Cras malesuada fringilla
                    viverra. Fusce eget pretium mauris, nec vulputate felis. Nulla eget lectus ut enim elementum
                    pellentesque sit amet at sapien. Donec id venenatis augue, in sollicitudin urna.
                </p>
            </div>
            <div class="col-xs-3 text-center">dsds</div>
        </div>
    </div>

    {#<div class="rev_slider_wrapper fullwidthbanner-container">#}
    {#<div id="slider-1" class="rev_slider fullwidthabanner" style="display:none;">#}
    {#<ul>#}

    {#<!-- Slide 1 -->#}
    {#<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"#}
    {#data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"#}
    {#data-masterspeed="600" data-rotate="0" data-saveperformance="off">#}

    {#<img src="{{ asset('assets/banners/yur_uslugi.jpg') }}" alt="" data-bgparallax="5"#}
    {#data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">#}

    {#<div class="tp-caption tp-resizeme arch-rev-title-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="-60"#}
    {#data-fontsize="['48','48','48','42']"#}
    {#data-lineheight="['60','60','50','60']"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"#}
    {#data-transform_out="auto:auto;s:300;"#}
    {#data-start="500"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on">Юридические услуги#}
    {#</div>#}

    {#<div class="tp-caption tp-resizeme arch-desc-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="24"#}
    {#data-fontsize="['21']"#}
    {#data-lineheight="['32']"#}
    {#data-width="['562','562','562','450']"#}
    {#data-height="['52','52','52','79']"#}
    {#data-whitespace="normal"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="y:50px;opacity:0;s:700;e:Power2.easeInOut;"#}
    {#data-transform_out="opacity:0;s:300;"#}
    {#data-start="840"#}
    {#data-splitin="lines"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-elementdelay="0.1">Все виды юридических услуг, касаемых недвижимости#}
    {#</div>#}

    {#<div class="tp-caption hidden-sm hidden-xs"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="124"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="x:-50px;opacity:0;s:700;e:Power4.easeOut;"#}
    {#data-transform_out="y:50px;opacity:0;s:300;"#}
    {#data-start="1480"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-responsive="off"><a href="{{ path('single_service',{'service_name': 'legal_services'}) }}"#}
    {#class="button accent icon-right">Подробнее</a></div>#}


    {#</li>#}

    {#<!-- Slide 2 -->#}
    {#<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"#}
    {#data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"#}
    {#data-masterspeed="600" data-rotate="0" data-saveperformance="off">#}

    {#<img src="{{ asset('assets/banners/stroitelstvo.jpg') }}" alt="" data-bgparallax="5"#}
    {#data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">#}

    {#<div class="tp-caption tp-resizeme arch-rev-title-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="-60"#}
    {#data-fontsize="['48','48','48','42']"#}
    {#data-lineheight="['60','60','50','60']"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"#}
    {#data-transform_out="auto:auto;s:300;"#}
    {#data-start="500"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on">Строительство#}
    {#</div>#}

    {#<div class="tp-caption tp-resizeme arch-desc-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="24"#}
    {#data-fontsize="['21']"#}
    {#data-lineheight="['32']"#}
    {#data-width="['562','562','562','450']"#}
    {#data-height="['52','52','52','79']"#}
    {#data-whitespace="normal"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="y:50px;opacity:0;s:700;e:Power2.easeInOut;"#}
    {#data-transform_out="opacity:0;s:300;"#}
    {#data-start="840"#}
    {#data-splitin="lines"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-elementdelay="0.1">Строим быстро и качественно, любые виды строительных работ#}
    {#</div>#}

    {#<div class="tp-caption hidden-sm hidden-xs"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="124"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="x:-50px;opacity:0;s:700;e:Power4.easeOut;"#}
    {#data-transform_out="y:50px;opacity:0;s:300;"#}
    {#data-start="1480"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-responsive="off"><a href="{{ path('single_service',{'service_name': 'building'}) }}"#}
    {#class="button accent icon-right">Подробнее</a></div>#}


    {#</li>#}

    {#<!-- Slide 3 -->#}
    {#<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"#}
    {#data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"#}
    {#data-masterspeed="600" data-rotate="0" data-saveperformance="off">#}

    {#<img src="{{ asset('assets/banners/investicyi.jpg') }}" alt="" data-bgparallax="5"#}
    {#data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">#}

    {#<div class="tp-caption tp-resizeme arch-rev-title-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="-60"#}
    {#data-fontsize="['48','48','48','42']"#}
    {#data-lineheight="['60','60','50','60']"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"#}
    {#data-transform_out="auto:auto;s:300;"#}
    {#data-start="500"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on">Инвестиции#}
    {#</div>#}

    {#<div class="tp-caption tp-resizeme arch-desc-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="24"#}
    {#data-fontsize="['21']"#}
    {#data-lineheight="['32']"#}
    {#data-width="['562','562','562','450']"#}
    {#data-height="['52','52','52','79']"#}
    {#data-whitespace="normal"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="y:50px;opacity:0;s:700;e:Power2.easeInOut;"#}
    {#data-transform_out="opacity:0;s:300;"#}
    {#data-start="840"#}
    {#data-splitin="lines"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-elementdelay="0.1">Инвестируйте в недвижимость выгодно и без рисков#}
    {#</div>#}

    {#<div class="tp-caption hidden-sm hidden-xs"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="124"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="x:-50px;opacity:0;s:700;e:Power4.easeOut;"#}
    {#data-transform_out="y:50px;opacity:0;s:300;"#}
    {#data-start="1480"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-responsive="off"><a href="{{ path('single_service',{'service_name': 'investments'}) }}"#}
    {#class="button accent icon-right">Подробнее</a></div>#}


    {#</li>#}

    {#<!-- Slide 4 -->#}
    {#<li data-transition="fade" data-slotamount="default" data-hideafterloop="0"#}
    {#data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"#}
    {#data-masterspeed="600" data-rotate="0" data-saveperformance="off">#}

    {#<img src="{{ asset('assets/banners/analitika.jpg') }}" alt="" data-bgparallax="5"#}
    {#data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">#}

    {#<div class="tp-caption tp-resizeme arch-rev-title-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="-60"#}
    {#data-fontsize="['48','48','48','42']"#}
    {#data-lineheight="['60','60','50','60']"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"#}
    {#data-transform_out="auto:auto;s:300;"#}
    {#data-start="500"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on">Аналитика#}
    {#</div>#}

    {#<div class="tp-caption tp-resizeme arch-desc-1"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="24"#}
    {#data-fontsize="['21']"#}
    {#data-lineheight="['32']"#}
    {#data-width="['562','562','562','450']"#}
    {#data-height="['52','52','52','79']"#}
    {#data-whitespace="normal"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="y:50px;opacity:0;s:700;e:Power2.easeInOut;"#}
    {#data-transform_out="opacity:0;s:300;"#}
    {#data-start="840"#}
    {#data-splitin="lines"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-elementdelay="0.1">Дизайн и ландшафтные работы, строительство под ключ#}
    {#</div>#}

    {#<div class="tp-caption hidden-sm hidden-xs"#}
    {#data-x="30"#}
    {#data-y="center" data-voffset="124"#}
    {#data-width="none"#}
    {#data-height="none"#}
    {#data-whitespace="nowrap"#}
    {#data-transform_idle="o:1;"#}
    {#data-transform_in="x:-50px;opacity:0;s:700;e:Power4.easeOut;"#}
    {#data-transform_out="y:50px;opacity:0;s:300;"#}
    {#data-start="1480"#}
    {#data-splitin="none"#}
    {#data-splitout="none"#}
    {#data-responsive_offset="on"#}
    {#data-responsive="off"><a href="{{ path('single_service',{'service_name': 'analytics'}) }}"#}
    {#class="button accent icon-right">Подробнее</a></div>#}
    {#</li>#}

    {#</ul>#}
    {#</div>#}

    {#</div> <!-- /.rev_slider_wrapper -->#}

    {#{{ dump(services) }}#}


    {#<div class="grey-section section-block">#}
    {#<div class="section-bg" style="background-image: url('{{ asset('assets/images/s-icons-bg.jpg') }}');"></div>#}
    {#<div class="container">#}
    {#<!-- Service Title Only -->#}
    {#<div class="row">#}
    {#{% for service in services %}#}
    {#<div class="col-md-3 col-sm-6">#}
    {#<div class="service-title-only">#}
    {#<a href="{{ path('single_service',{'service_name': service.slug}) }}">#}
    {#{{ service.pageTitle }}#}
    {#</a>#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div> <!-- /.row -->#}
    {#<div class="mid-space"></div>#}
    {#</div> <!-- /.container -->#}
    {#</div> <!-- /.grey-section -->#}

    {#<div class="dark-section section-block">#}
    {#<div class="section-bg" style="background-image: url('assets/images/projects.jpg');"></div>#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-sm-12 section-title-wrapper wow fadeIn" data-wow-duration="0.7s"#}
    {#data-wow-delay="0.4s">#}
    {#<h2 class="section-title style-1">#}
    {#Портфолио#}
    {#</h2>#}
    {#<p>Nunc in ornare urna. Pellentesque habitant morbi tristique<br> senectus et netus et malesuada#}
    {#fames acturpis egestas vestibulum dapibus.</p>#}
    {#</div>#}
    {#</div> <!-- /.row -->#}
    {#</div> <!-- /.container -->#}
    {#<div class="projects-full-holder clearfix wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.5s">#}
    {#<article class="project-entry-1">#}
    {#<div class="image-holder">#}
    {#<a href="project-single.html">#}
    {#<img width="800" height="500" src="assets/images/project-1.jpg" alt="">#}
    {#<h2 class="project-title">Opera House</h2>#}
    {#<span class="project-overlay"></span>#}
    {#<span class="overlay-triangle"></span>#}
    {#</a>#}
    {#</div>#}
    {#</article> <!-- /.project-entry-1 -->#}
    {#<article class="project-entry-1">#}
    {#<div class="image-holder">#}
    {#<a href="project-single.html">#}
    {#<img width="800" height="500" src="assets/images/project-2.jpg" alt="">#}
    {#<h2 class="project-title">Modern Architecture</h2>#}
    {#<span class="project-overlay"></span>#}
    {#<span class="overlay-triangle"></span>#}
    {#</a>#}
    {#</div>#}
    {#</article> <!-- /.project-entry-1 -->#}
    {#<article class="project-entry-1">#}
    {#<div class="image-holder">#}
    {#<a href="project-single.html">#}
    {#<img width="800" height="500" src="assets/images/project-3.jpg" alt="">#}
    {#<h2 class="project-title">Best Constructed</h2>#}
    {#<span class="project-overlay"></span>#}
    {#<span class="overlay-triangle"></span>#}
    {#</a>#}
    {#</div>#}
    {#</article> <!-- /.project-entry-1 -->#}
    {#<article class="project-entry-1">#}
    {#<div class="image-holder">#}
    {#<a href="project-single.html">#}
    {#<img width="800" height="500" src="assets/images/project-4.jpg" alt="">#}
    {#<h2 class="project-title">Skyscraper</h2>#}
    {#<span class="project-overlay"></span>#}
    {#<span class="overlay-triangle"></span>#}
    {#</a>#}
    {#</div>#}
    {#</article> <!-- /.project-entry-1 -->#}
    {#</div> <!-- /.projects-full-holder -->#}
    {#</div> <!-- /.dark-section -->#}

    {#<div class="white-section section-block">#}
    {#<div class="container">#}
    {#<div class="row">#}
    {#<div class="col-md-offset-2 col-md-8 text-center section-title-wrapper">#}
    {#<h2 class="section-title style-1">Новости</h2>#}
    {#</div>#}
    {#</div> <!-- /.row -->#}
    {#<div class="row">#}
    {#<div class="blog-masonry wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.6s">#}
    {#<div class="col-md-4 col-xs-12 post-masonry">#}
    {#<article class="grid post-entry">#}
    {#<div class="post-image">#}
    {#<a href="blog-single.html">#}
    {#<img width="600" height="430" src="assets/images/blog-1.jpg" alt="">#}
    {#<span class="filter-grayscale"></span>#}
    {#</a>#}
    {#</div>#}
    {#<div class="post-content">#}
    {#<h4 class="post-title"><a href="blog-single.html">Life After the Handover –#}
    {#Interview with Hans Kristian</a></h4>#}
    {#<div class="post-meta">#}
    {#<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>#}
    {#<span><a href="blog-single.html"><i#}
    {#class="icon-speech"></i> 3 Comments</a></span>#}
    {#</div>#}
    {#<p class="description">#}
    {#Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...#}
    {#</p>#}
    {#<a href="blog-single.html">Continue Reading</a>#}
    {#</div>#}
    {#</article>#}
    {#</div> <!-- /.col-md-4 -->#}
    {#<div class="col-md-4 col-xs-12 post-masonry">#}
    {#<article class="grid post-entry">#}
    {#<div class="post-image">#}
    {#<a href="blog-single.html">#}
    {#<img width="600" height="430" src="assets/images/blog-2.jpg" alt="">#}
    {#<span class="filter-grayscale"></span>#}
    {#</a>#}
    {#</div>#}
    {#<div class="post-content">#}
    {#<h4 class="post-title"><a href="blog-single.html">Top 14 Most Common Scheduling#}
    {#Mistakes By Contractors</a></h4>#}
    {#<div class="post-meta">#}
    {#<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>#}
    {#<span><a href="blog-single.html"><i#}
    {#class="icon-speech"></i> 3 Comments</a></span>#}
    {#</div>#}
    {#<p class="description">#}
    {#Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...#}
    {#</p>#}
    {#<a href="blog-single.html">Continue Reading</a>#}
    {#</div>#}
    {#</article>#}
    {#</div> <!-- /.col-md-4 -->#}
    {#<div class="col-md-4 col-xs-12 post-masonry">#}
    {#<article class="grid post-entry">#}
    {#<div class="post-image">#}
    {#<a href="blog-single.html">#}
    {#<img width="600" height="430" src="assets/images/blog-3.jpg" alt="">#}
    {#<span class="filter-grayscale"></span>#}
    {#</a>#}
    {#</div>#}
    {#<div class="post-content">#}
    {#<h4 class="post-title"><a href="blog-single.html">Cut Emissions, Save Costs and Win#}
    {#Business</a></h4>#}
    {#<div class="post-meta">#}
    {#<span><i class="icon-user"></i> By <a href="blog-single.html">Esmet</a></span>#}
    {#<span><a href="blog-single.html"><i#}
    {#class="icon-speech"></i> 3 Comments</a></span>#}
    {#</div>#}
    {#<p class="description">#}
    {#Lorem ipsum dolor sit amet, consectetur adipisicing elit aspernatur...#}
    {#</p>#}
    {#<a href="blog-single.html">Continue Reading</a>#}
    {#</div>#}
    {#</article>#}
    {#</div> <!-- /.col-md-4 -->#}
    {#</div>#}
    {#</div> <!-- /.row -->#}
    {#<div class="small-space"></div>#}
    {#</div> <!-- /.container -->#}
    {#</div> <!-- /.white-section -->#}

{% endblock %}