{% extends '::base.html.twig' %}

{% block content %}
    {#{{ dump(projects) }}#}

    <div class="page-title-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Проекты</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <div class="row projects-grid">

                {% for project in projects %}

                    {% if project.files is defined and project.files is not empty %}
                        {% set files = project.files %}
                        {% set images = [] %}
                    {% endif %}

                    {% for file in project.files %}
                        {% if 'image' in file.mimeType %}
                            {% set images = images|merge([file]) %}
                        {% endif %}
                    {% endfor %}

                    <div class="col-sm-6 col-md-4 project-item building">
                        <article class="project-entry-1 wow fadeInCdb" data-wow-duration="0.7s" data-wow-delay="0.3s">
                            <div class="image-holder">
                                <a href="{{ path('project.single', {
                                    'project': project.id
                                }) }}">
                                    <img width="800" height="500" src="{{ asset('upload/projects/'~images[0].name) }}" alt="{{ images[0].alt }}">
                                    <h2 class="project-title">{{ project.name }}</h2>
                                    <span class="project-overlay"></span>
                                    <span class="overlay-triangle"></span>
                                </a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- /.page-content -->
{% endblock %}