{% extends '::base.html.twig' %}

{% set status = app.request.get('status')%}

{% block content %}
    <div class="main-wrapper">

        <div class="page-title-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Новости сайта</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content blog-standard">
            <div class="container">
                <div class="row">
                    <!-- Blog Content -->
                    <div class="col-md-8 col-sm-12">
                        <div class="row">
                            <div class="blog-masonry">
                                {% set hidden = 'hidden' %}
                                {% if news is not empty %}
                                    {% set hidden = null %}
                                    {% for item in news %}
                                        <div class="col-sm-6 post-masonry">
                                            <article class="post-entry">
                                                <div class="post-image" style="max-height: 276px;">
                                                    <a href="#">
                                                        <img width="1100" height="630" src="{{ asset('upload/news/'~item.files[0].name) }}" alt="{{ item.files[0].alt }}">
                                                        <span class="filter-grayscale"></span>
                                                    </a>
                                                </div>
                                                <div class="post-content">
                                                    <h4 class="post-title post-text" data-charlimit="30">
                                                        <a href="{{ path('news.post', {
                                                            'post':item.id
                                                        }) }}">
                                                            {{ item.title }}
                                                        </a>
                                                    </h4>
                                                    <div class="post-meta">
                                                        <span><i class="icon-user"></i> Автор: <a href="#">{{ item.author.username }}</a></span>
                                                        <span><a href="#"><i class="icon-calendar"></i>{{ item.dateCreated|date('d.m.Y') }}</a></span>
                                                    </div>
                                                    <div class="post-text" data-charlimit="150" style="min-height: 55px;">
                                                        {{ item.content | raw }}
                                                    </div>
                                                    <a href="{{ path('news.post', {
                                                        'post':item.id
                                                    }) }}">
                                                        Читать дальше
                                                    </a>
                                                </div>
                                            </article>
                                        </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="col-xs-12">
                                        <h4>Нет новостей</h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                    <div class="col-md-4 col-sm-12">
                        <div class="blog-sidebar {{ hidden }}">
                            <!-- widget -->
                            {{ render(controller('AppBundle:News:latestPostWidget')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.page-content -->
        <div class="mid-space"></div>
        <div class="mid-space"></div>
    </div> <!-- /.main-wrapper -->
{% endblock %}

{% block customjs %}
    <script>
        $(document).ready(function () {

            $('.post-text').each(function () {
                var content = $.trim($(this).text()),
                    charLimit = $(this).attr('data-charlimit'),
                    ellipsesText = "...";

                if (content.length > parseInt(charLimit)) {

                    var showPart = content.substr(0, charLimit);

                    var html = showPart + ellipsesText;

                    console.log(showPart);


                    $(this).html(html);
                }

            });
        })
    </script>
{% endblock %}