<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSPINIA | Dashboard</title>

    <link href="{{ asset('admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{{ asset('admin/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ asset('admin/js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">

    <link href="{{ asset('admin/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">

    <link href="{{ asset('admin/css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bower_components/summernote/dist/summernote.css') }}" rel="stylesheet">


    {% block custom_css %}{% endblock %}
</head>

<body>

{% if app.user.roles.0 == 'ROLE_SUPER_ADMIN' %}
    {% set role = 'admin.role.admin' %}
{% else %}
    {% set role = '' %}
{% endif %}

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="#"/>
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong
                                            class="font-bold">{{ app.user.username | capitalize }}</strong>
                             </span> <span class="text-muted text-xs block">{{ role | trans }} <b
                                            class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <li id="contact">
                    <a href="{{ path('admin.contact') }}">
                        <i class="fa fa-th-large"></i>
                        <span class="nav-label">{{ 'admin.contact.label' | trans }}</span>
                    </a>
                </li>

                <li id="object">
                    <a href="{{ path('admin.object') }}"><i class="fa fa-home"></i> <span
                                class="nav-label">Объекты</span></a>
                </li>

                <li id="project">
                    <a href="{{ path('admin.project') }}">
                        <i class="fa fa-briefcase"></i><span class="nav-label">Проекты</span>
                    </a>
                </li>

                <li id="news">
                    <a href="{{ path('admin.news') }}">
                        <i class="fa fa-newspaper-o"></i><span class="nav-label">Новости</span>
                    </a>
                </li>

                {#<li>#}
                {#<a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span#}
                {#class="fa arrow"></span></a>#}
                {#<ul class="nav nav-second-level collapse">#}
                {#<li><a href="graph_flot.html">Flot Charts</a></li>#}
                {#<li><a href="graph_morris.html">Morris.js Charts</a></li>#}
                {#<li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>#}
                {#<li><a href="graph_chartjs.html">Chart.js</a></li>#}
                {#<li><a href="graph_chartist.html">Chartist</a></li>#}
                {#<li><a href="c3.html">c3 charts</a></li>#}
                {#<li><a href="graph_peity.html">Peity Charts</a></li>#}
                {#<li><a href="graph_sparkline.html">Sparkline Charts</a></li>#}
                {#</ul>#}
                {#</li>#}
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">

        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a7.jpg">
                                    </a>
                                    <div class="media-body">
                                        <small class="pull-right">46h ago</small>
                                        <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>.
                                        <br>
                                        <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a4.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right text-navy">5h ago</small>
                                        <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                            Smith</strong>. <br>
                                        <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a href="profile.html" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/profile.jpg">
                                    </a>
                                    <div class="media-body ">
                                        <small class="pull-right">23h ago</small>
                                        <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="mailbox.html">
                                        <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="grid_options.html">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="notifications.html">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="row  border-bottom white-bg dashboard-header">

            <div class="col-xs-12">
                {% block top_block %}{% endblock %}
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        {% block content_block %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<!-- Mainly scripts -->
<script src="{{ asset('admin/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
{#<script src="{{ asset('admin/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>#}
{#<script src="{{ asset('admin/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>#}
{#<script src="{{ asset('admin/js/inspinia.js') }}"></script>#}
<script src="{{ asset('admin/js/plugins/dataTables/datatables.min.js') }}"></script>
<!-- Custom and plugin javascript -->
<script src="{{ asset('admin/js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ asset('bower_components/summernote/dist/summernote.js') }}"></script>
<script src="{{ asset('bower_components/summernote/dist/lang/summernote-ru-RU.min.js') }}"></script>

<script>
    /*INIT DATATABLE FOR EACH TABLE WITH CLASS smartTable*/
    $(document).ready(function () {

        var route = '{{ app.request.get('_route') }}',
            currentPage = route.replace('admin.', '');

        $('#'+currentPage).toggleClass('active');

        $('.smartTable').DataTable({
            pageLength: 10,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            oLanguage: {
                "sSearch": "{{ 'Фильтр' }}:",
                "sLengthMenu": "{{ 'Показывать _MENU_ записей' }}",
                "sInfo": "{{ 'Показаны от _START_ до _END_ записей из _TOTAL_' }}",
                "sZeroRecords": "Нет записей для отображения",
                oPaginate: {
                    "sNext": "Следующая",
                    "sPrevious": "Предыдущая"
                }
            },
            buttons: [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'Объекты Красная Горка'},
                {extend: 'pdf', title: 'Объекты Красная Горка'},

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

        $('.news-editor').summernote({
            lang: 'ru-RU',
            height: 300
        });


    });
</script>


{% block custom_js %}
    {#<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwVpNQB9COvDUNPpbn7YOUtiuDpzum18Y&callback=initMap" type="text/javascript"></script>#}
{% endblock %}
</body>
</html>
