{% extends 'odinkg/admin/base.html.twig' %}

{% block top_block %}
    <h2>Корзина</h2>
    <small>Удаленные объекты</small>
{% endblock %}

{% block custom_css %}
    <link href="{{ asset('admin/css/plugins/dataTables/datatables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content_block %}
    <div class="col-lg-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Список удаленных объектов</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover object-list">
                        <thead>
                        <tr>
                            <th>Назавание объекта</th>
                            <th>Тип объекта</th>
                            <th>Цена</th>
                            <th>Статус</th>
                            <th>Площадь</th>
                            <th>Дата удаления</th>
                            <th>Восстановить</th>
                            <th>Удалить из корзины</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                            {% if object.dateRemoved is not null %}
                                <tr id="object-{{ object.id }}">
                                    <td>{{ object.title }}</td>
                                    <td>{{ object.getTypeById(object.type) }}</td>
                                    <td>
                                        {% if object.type == 1  %}
                                            ${{ object.totalPrice }}
                                        {% else %}
                                            ${{ object.pricePerUnit }} / м<sup>2</sup>
                                        {% endif %}
                                    </td>
                                    <td>{{ object.getSaleStatusById(object.saleStatus) }}</td>
                                    <td>
                                        {% if object.type == 1  %}
                                            {{ object.square }}  м<sup>2</sup>
                                        {% else %}
                                            {{ object.square }}  соток
                                        {% endif %}</td>
                                    <td>
                                        {{ object.dateRemoved | date('d.m.Y') }}
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-block undo-deleting" data-objectId="{{ object.id }}">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-block delete-from-bin" data-objectId="{{ object.id }}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ibox-footer">
                <a class="btn btn-primary" href="{{ path('admin.object') }}">
                    <i class="fa fa-list-ol"></i>&nbsp;Вернуться к списку объектов
                </a>
            </div>
        </div>

    </div>
{% endblock %}

{% block custom_js %}
    <script src="{{ asset('admin/js/plugins/dataTables/datatables.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('admin/js/inspinia.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/pace/pace.min.js') }}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.object-list').DataTable({
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'Удаленные объекты'},
                    {extend: 'pdf', title: 'Удаленные объекты'},

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });


        $('.undo-deleting').on('click', function () {
            var objectId = $(this).attr('data-objectId'),
                urlPattern = '{{ path('admin.object.bin.repair', {'object': '_object'}) }}';

            $.ajax({
                url: urlPattern.replace('_object', objectId),
                method: 'POST',
                success:function (data) {
                    $('#object-'+data).remove();
                }
            });

        });

        $('.delete-from-bin').on('click', function () {
            var objectId = $(this).attr('data-objectId'),
                urlPattern = '{{ path('admin.object.bin.remove', {'object': '_object'}) }}';

            $.ajax({
                url: urlPattern.replace('_object', objectId),
                method: 'POST',
                success:function (data) {
                    $('#object-'+data).remove();
                }
            });
        })

    </script>
{% endblock %}